@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bellota Regular'), local('Bellota-Regular'), url(https://fonts.gstatic.com/s/bellota/v1/MwQ2bhXl3_qEpiwAKJVbsA.ttf) format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
}
.weather-wrap {
  width: 700px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #2980b9;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
}
.weather-wrap .time {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.weather-wrap .time .time-date {
  text-align: center;
}
.weather-wrap .time .time-date .clock {
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  color: #2980b9;
}
.weather-wrap .time .time-date .date {
  font-size: 15px;
  color: #2980b9;
}
.weather-wrap .time .city {
  bottom: 0;
  right: 0;
  position: absolute;
  align-self: flex-end;
  padding: 10px;
  font-size: 15px;
  color: #2980b9;
}
.weather-wrap .weather {
  width: 70%;
  border-radius: 0 30px 30px 0;
  background-image: url(../img/weather.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather-wrap .weather .today {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Bellota', cursive;
  text-transform: uppercase;
}
.weather-wrap .weather .today .mainweather {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding: 10px;
}
.weather-wrap .weather .today .mainweather .icons {
  margin-right: 15px;
  width: 30%;
}
.weather-wrap .weather .today .maintemp {
  display: flex;
  flex-grow: 1;
  font-size: 3em;
  padding-left: 25px;
}
.weather-wrap .weather .forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 0.3em;
  margin-bottom: 10px;
  padding: 0px 5px;
}
.weather-wrap .weather .forecast .day {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.weather-wrap .weather .forecast .day:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 60px;
  width: 2px;
  background-color: #cfcfcf;
}
.weather-wrap .weather .forecast .day:last-child {
  padding-right: 0;
}
.weather-wrap .weather .forecast .day:last-child:after {
  display: none;
}
.weather-wrap .weather .forecast .day .temperature {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
.weather-wrap .weather .forecast .day .temperature .fas {
  padding: 5px;
}
.weather-wrap .weather .forecast .day .weath {
  font-size: 2em;
  text-align: center;
  font-family: 'Bellota', cursive;
}
.weather-wrap .weather .forecast .day .next-date {
  margin-top: 3px;
  border-top: 1px solid white;
  font-size: 2em;
  text-align: center;
}
